<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello, world!</title>
</head>
<body>
    <h1>Дароваа</h1>
    <a href="{{ path('login') }}">Войти</a>
    <a href="{{ path('app_register') }}">Зарегистрироваться</a>
</body>`